$button-color: #323F27;
$button-text: #FFFFFF;
$button-padding: 1rem;
$button-width: 25%;
$button-size: 1.25rem;
$button-hover: #323F27;

$nav-button-color: #546B41;
$nav-button-padding: 1rem;
$nav-button-width: 25%;
$nav-button-size: 1.25rem;


$header-text-size: 64px;
$desc-text-size: 24px;


.header-text{
  font-size: $header-text-size;
}

.styledBtn{
  background-color: $button-color;
  color: $button-text;
  border: none;
}

.descriptionTxt {
  font-size: $desc-text-size;
}

.styledBtn:hover{
  background-color: $button-hover; //change
}

.navBtn{
  border-radius: 0px;
  border: 0.1rem solid $nav-button-color;
  background-color: #FFFFFF;
  color: $nav-button-color;
  font-weight: 0.25rem;
}